{ 
	  "token"  : "INSERT YOUR OWN DISCORD CHANNEL BOT TOKEN HERE             ",
	  "prefix" : "+",
	  "channelid" : "put your discord channel id here",
	  "posteveryXmins" : "5",
	  "yourLBRYchannelClaimId" : "6e202c3726d1225c90637a2204c696b12c746a78",
	  "yourLBRYchannelURL" : "lbry://@neonews#6"
}
