{ 
          "token"  : "TOKEN ID HERE",
          "prefix" : "+",
          "channelid" : "760620390509838417",
          "posteveryXmins" : "1",
	  "postreposts" : "yes",
	  "postuploads" : "yes",
          "yourLBRYchannelClaimId" : "5be4de536770866b06990f11abc3f129631347ef",
          "yourLBRYchannelURL" : "@neonews_fr#5",
          "language" : "en",
          "postcolor" : "#0099ff",
          "posttitle": "[news] ",
          "newpost" : "recent news reposted on [link](odysee.com/",
          "newpostend" : ") @neonews",
          "posticon" : "https://odysee.com/public/favicon.png"
}
